*.RData
*.Rhistory
*rsconnect/
Capstone/CapstoneShinyApp/CapstonePitch-cache/
Capstone/CapstoneShinyApp/CapstonePitch-figure/
Capstone/CapstoneShinyApp/data/
Capstone/Week1/week1.html
Capstone/consolidate_1grams.html
Capstone/filter_ngrams.html
Capstone/final/
Capstone/milestone_report.html
Capstone/milestone_report_cache/
Capstone/milestone_report_files/
Capstone/ngrams_all_reduced.tar.gz
Capstone/ngrams_all_reduced/
Capstone/prediction_model.html
Capstone/prediction_model_cache/
Capstone/prediction_model_progress.txt
Capstone/sample_blogs.txt
Capstone/sample_news.txt
Capstone/sample_twitter.txt
Course3/GettingAndCleaningDataProject/UCI HAR Dataset/
Course4/Project1/household_power_consumption.txt
Course5/Week4/CourseProject2/StormData.csv.bz2
Course5/Week4/CourseProject2/report.html
Course5/Week4/CourseProject2/report_cache/
Course5/Week4/CourseProject2/report_files/
Course6/CourseProject/part1.html
Course6/CourseProject/part2.html
Course8/CourseProject/course_project_cache/
Course9/FinalProject/demo.html
Course9/FinalProject/project_pitch-rpubs.html
